/* .login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #c9111111;
  text-align: center;
}

.loginBox {
  padding: 30px;
  border-radius: 8px;
  width: 300px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;

}

.inputGrp {
  margin-bottom: 15px;
    width: 100%;
} */




